@import url("reset.css");
@import url("font.css");
.for_mobile {
  display: none;
}
* {
  font-family: "Geist", sans-serif;
  text-decoration: none;
  color: #fafafa;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #09090b;
  padding: 0 12px 24px 12px;
  width: 100%;
  > * {
    width: 100%;
    max-width: 1488px;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 24px;
  font-size: 18px;
  .nav_links {
    display: flex;
    gap: 12px;
  }
  .button {
    height: 50px;
  }
  .for_mobile {
    background-color: #18181b;
    border-radius: 12px;
    width: 44px;
    height: 44px;
  }
}
main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .Breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    a:not(:last-child) {
      color: #52525b;
    }
  }
  > .card {
    padding: 24px;
    height: 240px;
    justify-content: space-between;
    .top {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
      div {
        display: flex;
        gap: 16px;
      }
    }
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  > .card {
    flex: 1;
  }
  > div:first-child {
    width: 100%;
    max-width: 464px;
    gap: 24px;
    > div {
      gap: 18px;
      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  .button {
    height: 50px;
    padding: 7px 32px;
    border-radius: 14px;
  }
  .button:last-child {
    background-color: #27272a;
    box-shadow: inset 0 0 0 1px #3f3f46;
  }
}
footer.card {
  padding: 48px;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-wrap: wrap;
  }
  > div {
    justify-content: center;
    > div {
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      gap: 24px;
    }
    > div:last-of-type {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      font-size: 24px;
    }
  }
  .button {
    white-space: nowrap;
    background-color: #fafafa;
    padding: 7px clamp(12px, 2vw, 24px);
    height: 44px;
    color: #09090b;
  }
  > p {
    font-size: 20px;
  }
}
h3 {
  font-size: 28px;
  font-weight: 600;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
h4 {
  font-size: 30px;
  font-weight: 900;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: disc;
  padding-left: 24px;
}
li {
  font-size: 18px;
  line-height: 1.3;
}
::marker {
  font-size: 0.8em;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(9px, 2vw, 15px) 12px;
  background-color: #0077ff;
  border-radius: 14px;
  font-size: 18px;
  color: #fff;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: clamp(12px, 2.3vw, 24px);
  background-color: #18181b;
  box-shadow: 0 4px 6px 0 #0000000d;
  h1 {
    font-size: clamp(24px, 4.5vw, 60px);
    font-weight: 600;
  }
}
.card.vk {
  > div :first-child {
    flex-direction: row;
    align-items: center;
  }
  p {
    align-self: flex-start;
    max-width: 331px;
  }
}

@media (max-width: 650px) {
  .for_desktop {
    display: none !important;
  }
  .for_mobile {
    display: flex !important;
  }
  nav {
    padding: 6px 12px;
  }
  main {
    gap: 12px;
    .card .top {
      gap: 6px;
    }
    .bottom div {
      gap: 8px;
    }
    .button {
      font-size: 16px;
    }
  }
  .card {
    padding: 12px;
  }
  .about {
    gap: 12px;
    > div {
      gap: 12px !important;
    }
    .button:last-child {
      background-color: #f4f4f5;
      box-shadow: inset 0 0 0 1px #d4d4d8;
      color: #131313;
    }
  }
  footer.card {
    gap: 24px;
    > div {
      gap: 96px;
    }
  }
  footer .button {
    font-size: 20px;
  }
}
